<html>

  <head>
    <title></title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <p></p>
    <p>This page is created by Me(Name is at the bottom of the page. :). It uses the data from mapbox.com and weatherstack.com </p>
    <img class="pic1" src="/img/pic3.png" />
    </div>
    {{>footer}}
  </body>

</html>