<html>

  <head>
    <title></title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <p><h2>Welcome to Help Page</h2>
    <div style="align-content: center;">What can we Do</div>
    </p>
    </div>
    
    {{>footer}}
  </body>

</html>