<html>

  <head>
    <title></title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
    
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>Welcome to Home Page </p>

      <form>
        <input type="text" placeholder="Location">
        <button>Click me</button>
      </form>
      <p id="msg-1"></p>
      <p id="msg-2"></p>

    </div>
    {{>footer}}


    <script src="/scripts/app.js"></script>

  </body>

</html>